@model IEnumerable<MVC_TEST_2.Models.>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <td>MID</td>
            <td>MOvieName</td>
            <td>date</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var v in @Model)
            {
                <tr>
                    <td>@v.</td>
                </tr>
            }
    </tbody>
</table>

