@model IEnumerable<MVC_TEST_Q2.Models.Movie>
@{
    ViewBag.Title = "MoviesByYear";
}

<h2>MoviesByYear</h2>

@foreach(var v in Model)
            {
                <p>v.MoviesName</p>
            }

