@model IEnumerable<MVC_TEST_1.Models.custdetails1_Result>

@{
    ViewBag.Title = "method2";
}


<h1>Order id 10248</h1>

<p>
    @foreach(var v in Model)
            {
                <ul>
                    <li>
                        @v.CustomerID
                    </li>
     
                    <li>@v.OrderID</li>
                    <li>@v.OrderDate</li>
                    <li>@v.ShipAddress</li>
                </ul>
            }
</p>